.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjusted alignment */
  }
  
  .center {
    text-align: center;
  }
  
  button {
    margin-top: 20vh; /* Adjusted margin to move button more towards the top */
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:focus {
    outline: none;
  }
  