<div class="dashboard">
    <div class="top-items">
      <a *ngFor="let component of components" 
         [id]="'title-' + component.id" 
         (click)="activateComp(component.id)"
         [ngStyle]="{'background-color': component.id === componentId ? 'rgb(164, 189, 211)' : 'rgba(255, 255, 255)'}">
        {{ component.title }}
      </a>
    </div>
    <div style="padding: 10px;"></div>
    <app-donate *ngIf="componentId === '1'"></app-donate>
    <app-lost-found *ngIf="componentId === '2'"></app-lost-found>
    <app-services *ngIf="componentId === '3'"></app-services>
    <app-buy *ngIf="componentId === '4'"></app-buy>
    <app-sell *ngIf="componentId === '5'"></app-sell>
  </div>
  