<div class="header" >
    <h1 class="title" routerLink="" >Whatever You Want</h1>
</div>

<div class="page-wrapper">
    
    <div class="page-content">
        <div class="login-option" *ngIf="isConnected">
            <a routerLink="dashboard/login" routerLinkActive="active"> 
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </div>
        <div class="login-option" *ngIf="!isConnected" (click)="toggleDropdown($event)">
            <a >Bouraoui Ziche</a>
            <ul *ngIf="dropdownOpen" class="dropdown-menu">
              <li><a routerLink="dashboard/profile" routerLinkActive="active">Profile</a></li>
              <li><a (click)="logout()">Disconnect</a></li>
              <li><a routerLink="dashboard/cart" routerLinkActive="active">Cart</a></li>
              <li><a routerLink="dashboard/notifications" routerLinkActive="active">Notifications</a></li>
            </ul>
        </div>
        
    <router-outlet></router-outlet>
    <div style="padding: 20px;"></div>
</div>

<footer class="footer">
    <div class="copyright">
        &copy; 2024 Bouraoui Ziche. All rights reserved.
    </div>
</footer>