.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center; /* Center align the title */
    padding: 20px 0; /* Add padding for spacing */
    background-color: #76abb3; /* Background color */
    color: white; /* Text color */
  }
  
  .title {
    margin: 0; /* Remove default margin */
  }
  
  .page-wrapper {
    position: relative;
    padding-top: 80px; /* Adjust padding to account for header height */
    min-height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }
  
  .login-option {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
  }
  
  .login-option a {
    color: #fff;
    text-decoration: none;
  }
  
  .login-option a:hover {
    text-decoration: underline;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    }
    
    .footer .copyright {
    font-size: 14px;
    }
  